[gui]
[gui]
[gui]
[user]
	email = johntouron@gmail.com
	name = John Touron
[core]
	autocrlf = false
	editor = vim
	safecrlf = true
[push]
	default = tracking
[alias]
	up = "!git remote update -p; git merge --ff-only @{u}"
	graph = log --graph --pretty="tformat:%C(yellow)%h%Creset\\ %Cgreen(%ar)%Creset\\ %C(cyan)<%an>%Creset\\ %C(auto)%d%Creset\\ %s" --all
[color]
	ui = auto
