[Unit]
Description=Set a random wallpaper using waypaper (custom script)

[Service]
Type=oneshot
ExecStart=%h/.config/waypaper/random.sh
SyslogIdentifier=waypaper
KillMode=process
