prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "noctalia"
spawn-at-startup "~/.config/waypaper/init.sh"

input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        dwt
        drag-lock
        disabled-on-external-mouse
    }

    warp-mouse-to-focus
    focus-follows-mouse
}

layout {
    gaps 20
    always-center-single-column

    focus-ring {
        off
        width 2
        active-gradient from="#FAC000" to="#801100" angle=135
    }

    border {
        width 2;
        active-gradient from="#FAC000" to="#801100" angle=135
    }

    shadow {
        on
    }

    struts {
        top -10
    }
}

hotkey-overlay {
    skip-at-startup
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 2.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+I               { focus-workspace-down; }
    Mod+U               { focus-workspace-up; }
    Mod+Shift+I         { move-column-to-workspace-down; }
    Mod+Shift+U         { move-column-to-workspace-up; }

    Mod+Ctrl+I         { move-workspace-down; }
    Mod+Ctrl+U         { move-workspace-up; }

    Mod+1       { focus-workspace 1; }
    Mod+2       { focus-workspace 2; }
    Mod+3       { focus-workspace 3; }
    Mod+4       { focus-workspace 4; }
    Mod+5       { focus-workspace 5; }
    Mod+6       { focus-workspace 6; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }

    Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+Ctrl+R      { switch-preset-window-height; }
    Mod+Ctrl+Shift+R { reset-window-height; }

    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+C       { center-column; }
    Mod+Shift+C { center-visible-columns; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+s { spawn-sh "noctalia msg panel-toggle session"; }
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}
